@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@600&display=swap');

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.strike {
    text-decoration: line-through;
}

td{
    border: 1px solid black;
    padding: 5px;
}

.todo-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.2rem;
}

#todoTable{
    margin-top: 1rem;
}

.todo-block {
    border: 1px solid rgba(139, 78, 63, 0.3);
    padding: 1rem;
    border-radius: 20px;
}

::placeholder{
    color: rgba(139, 78, 63, 0.3);
}

::-ms-input-placeholder {
    color: rgba(139, 78, 63, 0.5);
}

::-webkit-input-placeholder {
    color: rgba(139, 78, 63, 0.3);
}

input {
    color: rgb(59, 27, 19);
}

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(59, 27, 19);
    /* background-color: rgba(105, 0, 169, 0.09); */
    background: linear-gradient(180deg, rgba(226, 216, 226, 0.21) 52.6%, rgba(105, 0, 169, 0.09) 70.71%);

}

@media screen and (max-width: 767px) {
    /* for mobile and other smaller screen*/
    .todoTable{
        margin-top: 1rem;
        width: 100%;
    }

    #calendar {
        margin-top: 1rem;
        height: 100%;

    }


}


@media screen and (min-width: 768px){
/* this is for tablet and desktop */

    .todo-grid-parent {
        display: grid;
        width: 40%;
        grid-template-columns: 2fr 3fr;
        column-gap: 1rem;
    }

    #calendar{
        position: sticky;
        top: 1rem;
        height: 100%;
    }

}

.todo-overlay {
    width: 100vw;
    height: 100vh;
    background-color: #ddd;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100vw);
    transition: transform 400ms;
    z-index: 2;
}

.todo-modal {
    min-width: 50vw;
    height: 50vh;
    background-color: #ffd6cc;
}

.todo-modal-close-btn {
    background-color: red;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.slideIntoView {
    transform: translateX(0);
    transition: transform 655ms;
}

#todoTable tr:nth-child(even) {
    background-color: #ffd6cc;
}

button {
    background-color: rgb(59, 27, 19);
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    border-color: black;

}

button:active {
    border-color: 1px inset #fff;
}

button:hover{
    color: rgb(59, 27, 19);
    background-color: #fff;
    border-color: rgb(59, 27, 19);
}

.page-header {
position: static;
width: 100%;
height: 20rem;
left: 0px;
top: 0px;
color: white;

background: url(https://images.unsplash.com/photo-1600593590813-bf8b515d243b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
opacity: 0.7;
margin-bottom: 1rem;
}

h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 48px;
}

.title-container {
    padding-left: 2rem;
    padding-top: 10rem;
    margin-bottom: 10rem;
}

.emoji-picker {
    margin-left: 2rem;
    width: 50px;
    height: 50px;
}