<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
    <div class="page-header">
        <% include ../helpers/navbar %>
    
      
        <h1>Todo</h1>
      </div>
</body>
</html>