<ul class="nav nav-pills nav-fill" >

    <li class="nav-item"><a class="nav-link" href ="/">Home<a></a></li>
    <li class="nav-item"><a class="nav-link" href ="/about">About<a></a></li>
    <li class="nav-item"><a class="nav-link" href ="/project">Project<a></a></li>
    <li class="nav-item"><a class="nav-link" href ="/Todo">Todo<a></a></li>

</ul>